body{
    background: #8EA58C;
}

.payment{
    margin-top: 100px;
    width: 706px;
    height: 588px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.navbar-brand{
    margin-top: 20px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    color: #9CB09A;
}

.head{
    margin-top: -10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.05em;

    color: #000000;

}

.bank{
    margin-top: 70px;
    margin-left: 60px;
}

.bank img{
    margin-bottom: 33px;
}

.fee{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

}

.produk{
    margin-right: 60px;
    margin-top: 70px;
}

.btn-submit{
    margin-top: 33px;
    width: 152px;
    height: 38px;
    background: #8EA58C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.btn-cancel{
    margin-top: 15px;
    box-sizing: border-box;
    width: 152px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #292D32;
}